.s-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 150px;
  transition: transform .5s cubic-bezier(.28, .83, .67, 1), opacity .5s ease;

  .footer-content {
    color: $white;
    height: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;

    // @media screen and (max-width: 1000px) {
    //   justify-content: flex-end;
    // }
  }

  &.history-open {
    transform: translateY(-150px);
  }

  svg {
    fill: $white;
    width: 18px;
    height: 18px;
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;

    .control-button {
      font-size: 1.4rem;
      line-height: 14px;
      display: inline-block;
      padding: 6px 8px;
      background-color: rgba(0, 0, 0, 0.9);
      color: $white;
      cursor: pointer;
      margin-left: 15px;
      text-decoration: none;
      border-radius: $global-border-radius;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  .photo-location {
    @media screen and (max-width: 650px) {
      display: none;
    }
  }
}
