/* ==========================================================================
   #UNSPLASH CREDIT
   ========================================================================== */

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */

.unsplash-credit {
  display: flex;
  align-items: center;

  span {
    font-size: 14px;
    color: #ccc;
    display: flex;
    align-items: center;
  }

  svg {
    margin-right: 7px;
  }

  .icon-location {
    margin-left: 20px;
  }

  a {
    text-decoration: none;
    color: #ccc;

    &:hover {
      text-decoration: underline;
    }
  }
}
