@font-face {
  font-family: "inconsolata-webfont";
  src: url("../fonts/inconsolata-webfont.woff2") format("woff2"), url("../fonts/inconsolata-webfont.woff") format("woff");
}

$black: #111;
$white: #fff;

$code-font-stack: "inconsolata-webfont";
$global-border-radius: 2px;
