$black: #111;
$white: #fff;

$font-stack: -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen",
"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Roboto", "Helvetica Neue", sans-serif;
$global-border-radius: 2px;
