/* ==========================================================================
   #GENERAL POPOVER VIEW
   ========================================================================== */

/**
 * Styles for the default view in the options popover
 *
 */

.general-settings {
  .show-chrome-apps {
    margin-bottom: 20px;
  }

  .photo-frequency {
    label {
      display: block;
      margin-bottom: 10px;
    }
  }

}

