/* ==========================================================================
   #BASE STYLES
   ========================================================================== */

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
  font-weight: 400;
  width: 100%;
  height: 100%;
}

body.no-bounce {
  overflow-y: hidden;
}

.s-main {
  height: 100vh;
}

.s-ui {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.s-ui.show {
  opacity: 1;
}

.s-ui.no-pointer {
  pointer-events: none;

  &.s-footer > div {
    pointer-events: auto;
  }
}

svg,
use {
  pointer-events: none;
  stroke: #fff;
}

.cloud-button * {
  pointer-events: none;
}

hr {
  margin: 12px 0;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-top-color: #e6e6e6;
}
