.header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #333;
  z-index: 100;
  font-family: "Source Code Pro", "Inconsolata", monospace;
}

.header-content {
  color: white;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}

.header-content .title h1 {
  font-size: 20px;
  font-family: "Source Code Pro", "Inconsolata", monospace;
}

.title a {
  color: rgba(255,255,255,0.6);
  text-decoration: none;
}

.header .links a {
  text-decoration: none;
  font-size: 20px;
}

.header .links a:hover {
  text-decoration: underline;
}

.github-corner {
	position: absolute;
	top: 0;
	right: 0;
}

.github-corner__svg {
	fill: #82888a;
	color: #2c2d31;
	position: absolute;
	top: 0;
	border: 0;
	right: 0;
}

.octo-arm {
  transform-origin: 130px 106px;
}

@media screen and (max-width: 1024px) {
  .header .links {
    display: none;
  }
}

@media screen and (max-width: 450px) {
  .header-content {
    padding: 10px;
  }
  .header-content .title {
    display: none;
  }

}
