.photo-grid {
  padding: 90px 0;
  position: relative;
}

.credit {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, 0);
}

.credit a {
  text-decoration: none;
}


.loading-spinner {
  margin-left: 10px !important;
}

.clearfix {
  margin-top: 20px;
  width: 100%;
  clear: both;
  display: flex;
  justify-content: center;
}


@media screen and (max-width: 450px) {
  .photo-grid {
    padding: 80px 0;
  }
}
