.photo-grid__item {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover !important;
}

.mdl-card {
  width: auto;
}

.photo-grid__item a {
  cursor: pointer;
}

.photo-grid__item-dimension {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.download-photo {
  margin-right: 10px;
  color: #fff;
}

.save-to-dropbox {
  color: #fff;
}
