@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300&display=swap');

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  color: rgba(0, 0, 0, 0.873);
  font-family: 'Inter', Arial, Helvetica, sans-serif !important;
}
