/* ==========================================================================
   #IMAGE INFO DIALOG
   ========================================================================== */

.dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  font-size: 1.5rem;
  z-index: -10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.dialog.is-open {
  z-index: 10;
  opacity: 1;
  cursor: zoom-out;
}

.dialog-content {
  position: absolute;
  cursor: auto;
  width: 550px;
  max-height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 24px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.image-info {
  .stats {
    margin-top: 25px;
    display: grid;
    column-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }

  dt {
    font-size: 13px;
    color: #888;
  }

  .stats dt {
    display: flex;
    align-items: center;
  }

  .stats svg {
    width: 16px;
    height: 16px;
    margin-right: 5px;
    color: #fff;
  }

  hr {
    border-color: #888;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .count {
    font-size: 20px;
  }

  .technical-info {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 35px;
    column-gap: 20px;
  }
}

