/* ==========================================================================
   #SETTINGS
   ========================================================================== */

.settings-content {
  width: 400px;
  height: 400px;
  background-image:
    linear-gradient(rgba(255, 255, 255, 0.8), white 150px),
    url('https://images.unsplash.com/photo-1496047311392-22bec9423e0a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=200&q=60&blur=20');
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px 15px;
}

.subtitle {
  margin-bottom: 10px !important;
}

.subtitle.is-4 {
  font-size: 1.4rem !important;
}

/* General settings
   ========================================================================== */

.chrome-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.show-default-tab {
  margin-right: 10px;
}

.radio-container {
  display: flex;
  align-items: center;
  color: #555;
}

.radio-container input[type='radio'] {
  margin-right: 10px;
  margin-bottom: 0;
}

.custom-collection {
  margin-top: 10px;
  display: none;

  &.is-visible {
    display: block;
  }
}

.settings {
  .inline-notification {
    display: block;
  }

  .authorize {
    margin-top: 15px;
  }

  .twitter {
    background-color: #1DA1F2;
    border-color: #1DA1F2;
    color: #fafafa;

    &:hover {
      background-color: #1a93de;
      border-color: #1a93de;
    }
  }

  .review {
    background-color: #657786;
    border-color: #657786;
    color: #fafafa;

    &:hover {
      background-color: #586875;
      border-color: #586875;
    }
  }

  .success-message {
    color: green;
  }

  .failure-message {
    color: red;
  }

  section,
  form {
    margin-bottom: 20px;
  }

  .links {
    margin-top: 20px;
  }

  .links .button {
    margin-bottom: 15px;
  }

  a:not(.button) {
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }
}
