.s-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 150px;

  .footer-content {
    color: $white;
    height: 50px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .footer-content > section {
    width: 33.33%;
  }

  &.history-open {
    transform: translateY(-150px);
  }

  svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }

  .weather {
    display: flex;
    height: 100%;
    font-size: 1.5rem;
    align-items: center;

    .last-updated {
      color: #999;
    }

    svg + span {
      padding-left: 7px;
    }

    .temperature span {
      margin-right: 6px;
    }

    > span {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px;
    }

    + .unsplash-credit {
      justify-content: center;
    }

    @media screen and (max-width: 1100px) {
      display: none !important;

      + .unsplash-credit {
        justify-content: flex-start !important;
      }
    }
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .control-button {
      font-size: 1.4rem;
      line-height: 14px;
      display: inline-block;
      padding: 8px 12px;
      background-color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
      margin-left: 15px;
      color: $white;
      text-decoration: none;
      border-radius: $global-border-radius;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
