.s-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  height: 150px;

  .footer-content {
    color: $white;
    height: 45px;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
  }

  .footer-content > section {
    width: 48%;
  }

  &.history-open {
    transform: translateY(-150px);
  }

  svg {
    fill: #fff;
    width: 18px;
    height: 18px;
  }

  .controls {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .control-button {
      font-size: 1.4rem;
      line-height: 14px;
      display: inline-block;
      padding: 6px 8px;
      background-color: rgba(0, 0, 0, 0.9);
      cursor: pointer;
      margin-left: 15px;
      color: $white;
      text-decoration: none;
      border-radius: $global-border-radius;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.4);
      }

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
