.s-history
  height: 100%
  overflow-x: hidden
  top: 0
  left: 0
  background-color: #111
  padding: 60px 0
  position: fixed
  width: 0
  transition: all 0.5s
  z-index: 1000
  list-style: none

  &.open
    width: 300px

  .s-photo
    width: 290px
    height: 290px
    margin: 0 auto 5px
