.s-history {
  @media screen and (max-width: 1440px) {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(5, 1fr);
  }

  &.open {
    transform: translateY(0);
  }

  .s-photo {
    height: 140px;

    .username,
    &-dimension {
      display: none;
    }
  }

  .s-photo-actions {
    padding: 8px;
    cursor: pointer;

    .bottom div {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .bottom svg {
      margin-left: 0;
    }

    .user-dp {
      border-radius: 50%;
    }
  }

  .history-placeholder {
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    background-color: hsla(0,0%,100%,.1);

    svg {
      width: 24px;
      height: 24px;
      color: #888;
    }
  }
}
