.searchResults
  list-style: none
  margin-left: -1.5%

.moreResults
  margin-top: 20px
  text-align: center

  &-button
    font-size: 2rem
    padding: 10px 15px
    cursor: pointer
    background-color: #fafafa
    color: #111
    border: none
    border-radius: 2px
