/* ==========================================================================
   #ADDON INFO POPOVER VIEw
   ========================================================================== */

/**
 * Styles for the Addon Info View
 *
 */

.addon-info {
  p,
  .credit-libraries {
    margin-bottom: 2rem;
  }

  ul {
    padding-left: 20px;
  }

  .links {
    display: flex;
    flex-wrap: wrap;
  }

  .button {
    display: inline-block !important;
    margin-right: 15px;

    &:hover {
      text-decoration: none;
    }
  }
}
