// #HEADER

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: transparent;
  height: 150px;
}

.header-content {
  height: 60px;
  padding: 20px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
