/* ==========================================================================
   #IMAGE INFO DIALOG
   ========================================================================== */

.dialog {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0;
  font-size: 1.6rem;
  z-index: -10;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.dialog.is-open {
  z-index: 10;
  opacity: 1;
  cursor: zoom-out;
}

.dialog-content {
  position: absolute;
  cursor: auto;
  width: 600px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.9);
  color: #fff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.image-info {
  .description {
    font-size: 14px;
  }

  .general-info {
    padding-bottom: 25px;
  }

  .stats {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .stats h3 {
    font-size: 14px;
    color: #888;
  }

  .stats p {
    font-size: 20px;
  }

  .technical-info {
    padding-top: 25px;
    border-top: 1px solid #ddd;
  }
}

