/* ==========================================================================
   #OPTIONS SIDEBAR
   ========================================================================== */

/**
 * Styles for the sidebar in the Options Popover
 *
 */


.options-sidebar {
  list-style: none;
  padding-top: 30px;
  padding-bottom: 30px;
  width: 30%;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(255,255,255,0.275);

  &__item {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    opacity: 0.6;
  }

  &__item.active-option {
    opacity: 1;
  }
}
