/* ==========================================================================
   #SNACKBAR
   ========================================================================== */

.snackbar {
  min-width: 400px;
  padding: 12px;
  position: fixed;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #39b466;
  color: $white;
  text-align: center;
  border-radius: $global-border-radius;
  z-index: 100;
  font-size: 1.6rem;
  animation: 0.5s ease fadeInControls, 0.5s ease fadeOutControls 3s;
}

.snackbar.error {
  background-color: #da1c2f;
}
