/* ==========================================================================
   #UNSPLASH CREDIT
   ========================================================================== */

/**
 * Long-form comment.
 *
 * This spans multiple lines and is also constrained to no longer than 80
 * characters in width.
 *
 * 1. Provide line-comments like this.
 */

.unsplash-credit {
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 16px;
    color: #ccc;
  }

  a {
    text-decoration: underline;
    color: #ccc;
  }
}

/*
   ========================================================================== */
